.tabs-component {
  .tabs-component-tabs {
    display: flex;
    list-style: none;
    margin: 0 0 1.5rem 0;
    padding: 0;

    .tabs-component-tab {
      margin-right: .5rem;
      flex: 1 1 0;

      &.is-active {
        .tabs-component-tab-a {
          background-color: #4299e1;
          color: #fff;
          text-shadow: 0 1px 2px rgba(0, 0, 0, .2);

          &:hover {
            background-color: #2b6cb0;
          }
        }
      }

      .tabs-component-tab-a {
        display: block;
        text-align: center;
        padding: .5rem 1rem;
        border-radius: .5rem;
        background-color: #fff;
        text-decoration: none;
        color: #4299e1;
        font-weight: 800;

        &:hover {
          background-color: #edf2f7;
        }
      }
    }
  }
}