<template>
    <panel-item :field="field">
        <p slot="value" class="text-90">
            <template v-for="(size, index) in sizes">
                <b class="mb-4 block">{{index}}:</b>

                <ul>
                    <template v-for="(item, index) in size">
                        <li class="mb-4" v-if="index !== 'target_id'">
                            <span class="capitalize">{{index}}:</span> {{item}}

                            {{index === 'calories' ? 'kcal' : 'g'}}
                        </li>
                    </template>
                </ul>

            </template>
        </p>
    </panel-item>
</template>

<script>
	export default {
		props: ['resource', 'resourceName', 'resourceId', 'field'],

		data() {
			return {
				sizes: {},
			}
		},

		mounted() {
			Nova.request().get(`/nova-vendor/ingredients/${this.resourceId}`).then(({data}) => {
				const {sizes} = data;
				this.sizes = sizes;
			})
		},
	}
</script>
