<template>
    <default-field :field="field" :errors="errors" :full-width-content="true">
        <template slot="field">
            <template v-if="value.length">
                <template v-for="target in value">
                    <div class="flex border-b border-40">
                        <div class="bg-20 remove-last-margin-bottom leading-normal w-full py-4 px-8">
                            <p>{{target.name}}</p>
                        </div>
                    </div>

                    <div class="py-6 w-full">

                        <tabs :options="{useUrlFragment: false}">
                            <tab :name="category.name" v-for="category in target.categories" :key="category.id">
                                <ul class="list-reset w-2/3 pl-8" v-if="category.ingredients.length">
                                    <li class="flex items-center mb-4" v-for="ingredient in category.ingredients"
                                        :key="ingredient.id">

                                        <div class="w-1/3">
                                            <input :id="`ingredient-${ingredient.id}-${category.id}`" type="checkbox"
                                                   v-model="ingredient.is_enabled"
                                                   class="checkbox py-2 mr-4" :name="ingredient.name">
                                            <label :for="`ingredient-${ingredient.id}-${category.id}`">{{ingredient.name}}</label>
                                        </div>
                                        <div class="w-2/3 justify-between flex">
                                            <input type="number"
                                                   min="0"
                                                   required
                                                   step="0.01"
                                                   :disabled="!ingredient.is_enabled"
                                                   class="w-3/4 form-control form-input form-input-bordered"
                                                   placeholder="Ingredient Size"
                                                   v-model="ingredient.size"
                                            />
                                        </div>
                                    </li>
                                </ul>
                                <div v-else>
                                    Please attach ingredients to the category.
                                </div>
                            </tab>
                        </tabs>
                    </div>
                </template>
            </template>
            <div class="inline-block text-80 pt-2 leading-tight" v-else>
                Please attach categories to the Targets and Ingredients to the Categories.
            </div>
        </template>
    </default-field>
</template>

<script>
	import {FormField, HandlesValidationErrors} from 'laravel-nova';
	import {Tabs, Tab} from 'vue-tabs-component';

	export default {
		mixins: [FormField, HandlesValidationErrors],

		props: ['resourceName', 'resourceId', 'field'],

		components: {
			Tabs,
			Tab,
		},

		methods: {
			/*
             * Set the initial, internal value for the field.
             */
			setInitialValue() {
				Nova.request().get('/nova-vendor/ingredients', {
					params: {
						product_id: this.resourceId,
					},
				}).then(({data}) => {
					this.value = data || []
				})
			},

			/**
			 * Fill the given FormData object with the field's internal value.
			 */
			fill(formData) {
				formData.append(this.field.attribute, JSON.stringify(this.value));
			},

			/**
			 * Update the field's internal value.
			 */
			handleChange(value) {
				this.value = value
			},
		},
	}
</script>
